body{
    background-color: darkslategray;
}
.sector{
    margin-top: 5vh;
}
#quizHeader{
    margin: 0;
    background-color: royalblue;
    height: 5vh;
    min-height: 40px;
}
.questionBox{
    background-color: royalblue;
    border-radius: 10px;
    background-color: ivory;
}
.theQuestion{
    margin: 10px 0px 0px 0px;
}
footer{
    width: 100vw;
    height: 10vh;
    background-color: black;
    border-top: 1px solid gold;
    margin-top: 10vh;
    position: fixed;
    bottom: 0;
    right: 0;
}
label{
    font-size: 20px;
}
.question{
    visibility: hidden;
}
.disdiv{
    pointer-events: none;
    visibility: hidden;
    float: left;
    position: absolute;
    z-index: 1;
}
.enadiv{
    pointer-events: all;
}
.over{
    margin-top: 10vh;
}